sudo: false
language: node_js
node_js:
  - "7"

before_install:
  - rvm install 2.2.0

install:
  - npm install
  - gulp webpack:build
  - bundle exec rake deploy

env:
  global:
    - JEKYLL_ENV="production"
    - secure: DKcWEUxNqqILQCcOr+gs4/UL6gQyrGSb99DAOjobP5Fpuygs3PgWDBLK/LRyHOa5ogC8Pv2XVDuiayuU5Fr1/Ahnq8uCQGiaavAVav8MhvuD1LVJ7ufKdiU2PgxYY3WQn9D+XBS7cWSo57Hxdl2U3TrTmF34hvKMbTPs6Wmhjj8YkQjYDO66XoVsMJnpq55fYqe3hLi/+igG3PN15ZLMlZsUItG4tAQJsa8Jc1EmUWM8ZMoewYRORUDEWHO7L6J8zaYK5zyi1gO9vpamHVE/o6COqdws4sOSkBYS2ozspicEtmbHH1c2WqENAghKSV6T0C0nIlRRFZ42hxpVa5kc/eG6C2lSMBOcI9Nil8Itx6ADPb1Gx4r9XF8fP2aYX5EHB1RX+E+mkJxunM71WPdWdbkWXqg0PlatM/vTApKFn+lAYrIWk+mskEVExK/vssF7gZxgvwyRvGKYrcD/qj2n8tV44Jq8giIGizrI2Mwy2B4zJLYgvoKywDUqiAQQkSWI3a32x9OF1yMAsmZTJaapq0RkS3NWDUJRDEifVfK7FAm7Ic8QNkc/zZZcrzRYqJr3a1gS4xtnNAJm0DvKwOfk4RbXCwd4M525hXDEORqWR4ECD1gjoRNGsFGfXxcgP9YcK6T/oEGo2gkEDNsFJjtQ1T2o5FYYUnnTmKVr8uSqwvE=
