<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.title}}</title>
  <meta name="description"
        content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <!--<script src="http://localhost:8080/vendor.js"></script>-->
  <script src="/build/main.js"></script>
  <!--<script src="http://localhost:8080/modernizr.js"></script>-->
  <link rel="stylesheet" href="/build/style.css">
</head>
<body>

<!-- Nav Bar -->
<nav class="top-bar" data-topbar>
  <span class="name">
      <a href="/"><img src="/assets/webpkr-white.svg"></a>
  </span>
  <span class="right">
    <a href="https://github.com/venkatperi/webpkr"><i class="icon fa fa-github" aria-hidden="true"></i></a>
  </span>
</nav>
<!-- End Nav -->


<!-- Main Page Content and Sidebar -->
<div class="row">
  <aside class="main-toc medium-2 columns">
    {% for nav in site.data.sidebar %}
    {% if nav.items != null %}
    <h4><a href="{{ site.url }}{{ nav.href }}">{{ nav.title }}</a></h4>
    <ul class="nav">
      {% for item in nav.items %}
      <li><a href="{{ site.url }}{{ item.href }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
    <div id="toc"></div>
  </aside>

  <div class="medium-10 columns" role="content">
    {{ content }}
  </div>
</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->

<footer class="row">
  <div class="medium-12 columns">
    <hr>
    <div class="row">
      <div class="medium-12 columns">
      </div>
    </div>
  </div>
</footer>

</body>
</html>
